.header-back {
   background-color: grey;
   width: 100%;
   height: 80px;
   display: flex;
}

.title-name {
  font-size: 45px;
}

.title_name2 {
  text-decoration: none;
}

.form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 350px 0;
  padding: 0 0 20px 150px;
  border: 1px solid black;
}


.show { 
  align-items: center;
  justify-content: center;
  margin: 50px 200px 0;
  padding: 0 0 20px 20px;
  border: 1px solid black;
}

.show_come {
  border: 1px solid black;
  margin: 0 40px 20px 0;
  height: 100px;
}

.title {
  padding-top: 30px;
}

.time {
  margin-top: 30px;
}

.content {
  margin-top: 30px;
}

.text {
  height: 100px;
}

.submit {
  margin: 40px 0 0 180px;
}

.image {
  margin-top: 40px;
}


.abc {
  display: flex;
  margin-left: 450px;
}

.title-name {
  margin-left: 25px;
}

.lists-right{
  margin-left: 800px;
  margin-top: 50px;
  display: flex;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 400px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  margin-left: 60px;
}


.login { 
  margin-right: 10px;
}

.field {
  margin: 30px 0 0 120px;
}

.actions {
  margin: 30px 0 0 170px;
}

.show_tit {
  margin:20px 0 0 400px ;
}

.show_time {
  margin-left: 400px;
}

.comment {
  margin:30px 0 10px 450px;
}

.sign-up {
  margin: 20px 0 0 170px;
  
}